source/tools/n8n_template/data/workflows/darrell-n8n-demo-gemini_nano banana_change_image.json
{
  "name": "darrell-n8n-demo-gemini_nano banana_change_image",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        416
      ],
      "id": "3c087e26-ce84-4be7-9fe1-81514b1371df",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EGjALlI2FuCCkgzM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=一個男人在凱旋門拿著原本的產品\n產生圖片給我",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        896,
        416
      ],
      "id": "6c2c599b-57ff-422a-8e4c-439ebea3c482",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-image-preview",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        896,
        608
      ],
      "id": "03f98c7d-449d-4e2f-afb8-9e5013842a38",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LinSdRueA0QPXi2y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "output[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        416
      ],
      "id": "1e686ebd-68b8-4d1d-81c5-aacc9f65e950",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1D5T58PGwPfeLV_mgM2Yizzq17BcIXxGi",
          "mode": "list",
          "cachedResultName": "202508-Google-nano banana demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1D5T58PGwPfeLV_mgM2Yizzq17BcIXxGi"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        368,
        416
      ],
      "id": "e87fbaec-4129-414d-a76f-1cc276f296e7",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EGjALlI2FuCCkgzM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95de60de-d93e-4153-ad70-aacee75fe50f",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        544,
        416
      ],
      "id": "01ca0ad7-fbc1-484e-ac2b-d11a6bb1edb0",
      "name": "Filter"
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyyMMdd_HHmmss') }}.{{ $('AI Agent').item.json.output[1].inlineData.mimeType.split(\"/\")[1] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ezytHhqYs6APuECBqlJEdkFJFWoRjqlr",
          "mode": "list",
          "cachedResultName": "202508-Google-nano banana output",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ezytHhqYs6APuECBqlJEdkFJFWoRjqlr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        416
      ],
      "id": "5c573045-4d20-4bf8-9831-92e9155a3424",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EGjALlI2FuCCkgzM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google nano banana 替換圖片\n### Drive Trigger\n上傳圖片到指定 Drive 資料夾時觸發\n### 使用 AI Agent 轉換圖片\n模型：gemini-2.5-flash-image-preview\n注意：Free tier 的 API Key 貌似不能使用，如果遇到錯誤請考慮使用 Billing Tier 的 API Key\n一張大約 1 塊台幣上下\n### 輸出到 Drive\n儲存到另一個 Drive 資料夾",
        "height": 272,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1f2de15f-9de9-45f3-bbfe-4f4214f99ec7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\n### contact me with following:\n[Website](https://www.darrelltw.com/)\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n![](https://pub-c093258f61a1463ea03e1a40c141968a.r2.dev/darrell-icon-128.svg)",
        "height": 340,
        "width": 296,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        288
      ],
      "id": "1660ab98-e879-48f3-8315-7fbe959232c3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Attachment(附件)\n\n### 模板使用 Drive 資料夾名稱\n1. 202508-Google-nano banana demo\n2. 202508-Google-nano banana output",
        "height": 156,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        640
      ],
      "id": "ee9ed9e0-4e51-4679-8aa1-a21f2da6a43e",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4e0e318d-aa6c-4603-88e6-2b481040901d",
  "meta": {
    "instanceId": "fddb3e91967f1012c95dd02bf5ad21f279fc44715f47a7a96a33433621caa253"
  },
  "id": "VnqqbOJNP9guY86d",
  "tags": [
    {
      "createdAt": "2025-04-25T14:04:49.168Z",
      "updatedAt": "2025-04-25T14:04:49.168Z",
      "id": "5XRIpCCc7ekBy9Ka",
      "name": "Darrell-template"
    }
  ]
}