source/tools/n8n_template/data/workflows/darrell-n8n-demo-gemini_nano banana_change_image.json
{
  "name": "darrell-n8n-demo-gemini_nano banana_change_image",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://drive.google.com/file/d/1iK3FjxrBcxkzQ_eeDm9pZMCl146R7u7e/view?usp=drive_link",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        16
      ],
      "id": "28a268f1-d1f2-4e53-8125-42718cfa38b3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EGjALlI2FuCCkgzM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=一個男人在凱旋門拿著原本的產品\n產生圖片給我",
        "options": {
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -144,
        16
      ],
      "id": "d80758f3-5e39-4867-8ecb-9aedcd0d5ec9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-image-preview",
        "options": {
          "maxOutputTokens": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        208
      ],
      "id": "f404fca0-1e76-45c4-9e48-8d9f9a5b3699",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "LinSdRueA0QPXi2y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "output[1].inlineData.data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        160,
        16
      ],
      "id": "64f38eb4-5191-42e0-9138-5ac6586a7274",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1D5T58PGwPfeLV_mgM2Yizzq17BcIXxGi",
          "mode": "list",
          "cachedResultName": "202508-Google-nano banana demo",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1D5T58PGwPfeLV_mgM2Yizzq17BcIXxGi"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        16
      ],
      "id": "fe3fce12-97e8-4883-b042-c305749dc240",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EGjALlI2FuCCkgzM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95de60de-d93e-4153-ad70-aacee75fe50f",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -496,
        16
      ],
      "id": "dcb90589-5ccd-422b-825f-4d598b226d60",
      "name": "Filter"
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyyMMdd_HHmmss') }}.{{ $('AI Agent').item.json.output[1].inlineData.mimeType.split(\"/\")[1] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1ezytHhqYs6APuECBqlJEdkFJFWoRjqlr",
          "mode": "list",
          "cachedResultName": "202508-Google-nano banana output",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1ezytHhqYs6APuECBqlJEdkFJFWoRjqlr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        368,
        16
      ],
      "id": "93714a1b-b1ba-4c8d-bd69-02c9588177dd",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EGjALlI2FuCCkgzM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google nano banana 替換圖片\n### Drive Trigger\n上傳圖片到指定 Drive 資料夾時觸發\n### 使用 AI Agent 轉換圖片\n模型：gemini-2.5-flash-image-preview\n注意：Free tier 的 API Key 貌似不能使用，如果遇到錯誤請考慮使用 Billing Tier 的 API Key\n一張大約 1 塊台幣上下\n### 輸出到 Drive\n儲存到另一個 Drive 資料夾",
        "height": 272,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -400
      ],
      "id": "d623d6a9-bf20-4436-95c4-31280f6744f2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\n### contact me with following:\n[Website](https://www.darrelltw.com/)\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n![](https://pub-c093258f61a1463ea03e1a40c141968a.r2.dev/darrell-icon-128.svg)",
        "height": 340,
        "width": 296,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -112
      ],
      "id": "a0611895-9abd-4086-8963-cb53c140acd0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Attachment(附件)\n\n### 模板使用 Drive 資料夾名稱\n1. 202508-Google-nano banana demo\n2. 202508-Google-nano banana output",
        "height": 156,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        240
      ],
      "id": "4cf97cba-dad3-402c-8af1-1187ceb6cfbd",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "89f506ce-c54c-4673-9706-57343e1ed701",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fddb3e91967f1012c95dd02bf5ad21f279fc44715f47a7a96a33433621caa253"
  },
  "id": "CssAXE4IO3d9ZkJN",
  "tags": [
    {
      "createdAt": "2025-02-08T07:12:26.837Z",
      "updatedAt": "2025-02-08T07:12:26.837Z",
      "id": "IifyzA4m8rqIfnph",
      "name": "public_template"
    },
    {
      "createdAt": "2025-04-25T14:04:49.168Z",
      "updatedAt": "2025-04-25T14:04:49.168Z",
      "id": "5XRIpCCc7ekBy9Ka",
      "name": "Darrell-template"
    }
  ]
}