source/tools/n8n_template/data/workflows/line_message.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook from Line Message').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"收到您的訊息 : {{ $('Webhook from Line Message').item.json.body.events[0].message.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "8be2d980-c53c-4ec3-8895-0f2f9e232d81",
      "name": "Line : Reply with token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        928,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "xB2Ip7YKSIDq7BoI",
          "name": "Line n8n demo auth"
        },
        "httpBearerAuth": {
          "id": "XzTZ8xgoTEJJfpCM",
          "name": "Line-Darrell Agent "
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "638c118e-1c98-4491-b6ff-14e2e75380b6",
        "options": {}
      },
      "id": "a81ef067-d921-4b9e-a0f0-0a23d964a420",
      "name": "Webhook from Line Message",
      "type": "n8n-nodes-base.webhook",
      "position": [
        448,
        192
      ],
      "webhookId": "638c118e-1c98-4491-b6ff-14e2e75380b6",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Line Message API Reply\n\n用 Reply API 來回覆訊息\n重點是要使用 replyToken!",
        "height": 340,
        "width": 720
      },
      "id": "031c8853-51e0-4529-a8ac-aaf7d880d7f2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b63773bb-f010-4018-8142-240c9aaa4570",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "message"
            }
          ]
        },
        "options": {}
      },
      "id": "35d24dd9-8984-40aa-9925-f47600a00e0b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        672,
        192
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Line Message API Send Message\n\n需要先取得對方的 Line UID\n這樣才能主動推播\n\n也可以是群組的 Channel ID\n計費方式會以群組的人數計算",
        "height": 340,
        "width": 720
      },
      "id": "0beffd16-9473-4f77-b1cc-974be8f601f3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d9f390a3-3437-4644-9897-f6c2c0d49bd8",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        448,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6278f340-6287-4e89-b774-f6c584954d5b",
              "name": "line_uid",
              "type": "string",
              "value": "Uxxxxxxxxxxxx"
            }
          ]
        },
        "options": {}
      },
      "id": "645578c8-5e5f-4930-86a9-106d988b2662",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        608
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.line_uid }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"推播測試\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "fe242b28-9e41-4005-8e72-8b6fc02efae8",
      "name": "Line : Push Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        912,
        608
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "xB2Ip7YKSIDq7BoI",
          "name": "Line n8n demo auth"
        },
        "httpBearerAuth": {
          "id": "XzTZ8xgoTEJJfpCM",
          "name": "Line-Darrell Agent "
        }
      }
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\nAn engineer now focus on AI and Automation\n\n### contact me with following:\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n[Website](https://www.darrelltw.com/)",
        "height": 240,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7ae518f6-6e12-42bd-9a62-74fcfeaafd47",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 文字訊息 text\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"text\",\n        \"id\": \"563010307124363558\",\n        \"quoteToken\": \"$quoteToken\",\n        \"text\": \"文字訊息\"\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411597743,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 520,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        0
      ],
      "id": "aed97fbe-250e-43fb-be89-d5a368f8652e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 位置訊息 location\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"location\",\n        \"id\": \"563010369904968465\",\n        \"latitude\": 25.033718,\n        \"longitude\": 121.56481,\n        \"title\": \"台北101\",\n        \"address\": \"台北市信義區信義路五段7號\"\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411635079,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 540,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2448,
        544
      ],
      "id": "5df23f9f-a074-4101-944f-ec5b46beb775",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 圖片訊息 image\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"image\",\n        \"id\": \"563010383729131999\",\n        \"quoteToken\": \"${quoteToken}\",\n        \"contentProvider\": {\n          \"type\": \"line\"\n        }\n      },\n      \"webhookEventId\": \"01JWAQ8Y1Z0JVH5CCCGYX6AEEA\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411643600,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 540,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1168,
        544
      ],
      "id": "be28a0bf-dd10-427c-a3cd-2376c74fbb9a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 聲音訊息 audio\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"audio\",\n        \"id\": \"563010901809561755\",\n        \"duration\": 3964,\n        \"contentProvider\": {\n          \"type\": \"line\"\n        }\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411952280,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 540,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        544
      ],
      "id": "6365503c-86ac-47e0-9f73-6f54b663bc56",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 貼圖訊息 sticker\n```\n{\n  \"destination\": \"${Uea2edf19952568f1b5416d038ef8f525}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"sticker\",\n        \"id\": \"563011036866413024\",\n        \"quoteToken\": \"${quoteToken}\",\n        \"stickerId\": \"721731938\",\n        \"packageId\": \"28491268\",\n        \"stickerResourceType\": \"STATIC\",\n        \"keywords\": [\n          \"what?\",\n          \"threat\",\n          \"be careful\",\n          \"really?\",\n          \"Christmas present\",\n          \"Hello\",\n          \"?\",\n          \"!?\",\n          \"guess what?\"\n        ]\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748412032685,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 520,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2448,
        0
      ],
      "id": "5ee84949-b3cd-4a79-b530-f009f4077931",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 表情接訊息 text\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"text\",\n        \"id\": \"563011234015478237\",\n        \"quoteToken\": \"${quoteToken}\",\n        \"text\": \"(shock)(shock)(shock)\",\n        \"emojis\": [\n          {\n            \"index\": 0,\n            \"length\": 7,\n            \"productId\": \"63b695d6b9e82e73fe3baaec\",\n            \"emojiId\": \"005\"\n          },\n          {\n            \"index\": 7,\n            \"length\": 7,\n            \"productId\": \"63b695d6b9e82e73fe3baaec\",\n            \"emojiId\": \"005\"\n          },\n          {\n            \"index\": 14,\n            \"length\": 7,\n            \"productId\": \"63b695d6b9e82e73fe3baaec\",\n            \"emojiId\": \"005\"\n          }\n        ]\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748412150097,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 520,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1808,
        0
      ],
      "id": "1aad0865-983d-44d8-9255-faaa30b31e19",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## 如何取得 Line Message API Token ?\n\n1. 開啟 Line Developer Console\ndevelopers.line.biz/console/\n\n2. 選擇 Chatbot.\n\n3. 點擊 `Messaging API`\n\n4. 複製 `Channel Acccess Token`\n\n![](https://st.darrelltw.com/line_get_message_api_token_demo_1.png)",
        "height": 500,
        "width": 464,
        "color": 4
      },
      "id": "2772f445-7adf-4713-bda4-a9604bae491f",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 如何取得自己的 Line UID?\n\n1. 開啟 Line Developer Console\ndevelopers.line.biz/console/\n\n2. 選擇 Chatbot.\n\n3. 點擊 `Basic Settings`\n\n4. 複製 `Your user ID`\n\n![](https://st.darrelltw.com/line_get_uid_demo.png)",
        "height": 692,
        "width": 464,
        "color": 4
      },
      "id": "57cd7fd8-00f6-478d-8a25-08bd8f0680f8",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -128,
        272
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook from Line Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Line : Reply with token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Line : Push Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "fddb3e91967f1012c95dd02bf5ad21f279fc44715f47a7a96a33433621caa253"
  }
}