source/tools/n8n_template/data/workflows/line_message.json
{
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"replyToken\": \"{{ $('Webhook from Line Message').item.json.body.events[0].replyToken }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"收到您的訊息 : {{ $('Webhook from Line Message').item.json.body.events[0].message.text }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "4a4df7d6-fff7-43ab-89ff-7ab12a6f1e49",
      "name": "Line : Reply with token",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        560,
        160
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "xB2Ip7YKSIDq7BoI",
          "name": "Line n8n demo auth"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "638c118e-1c98-4491-b6ff-14e2e75380b6",
        "options": {}
      },
      "id": "b96d892d-d0b3-4984-a39f-f6fd83de9b82",
      "name": "Webhook from Line Message",
      "type": "n8n-nodes-base.webhook",
      "position": [
        80,
        180
      ],
      "webhookId": "638c118e-1c98-4491-b6ff-14e2e75380b6",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Line Message API Reply\n\n用 Reply API 來回覆訊息\n重點是要使用 replyToken!",
        "height": 340,
        "width": 720
      },
      "id": "eee9a2fa-ed53-4bbe-a547-ac5fd3834515",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b63773bb-f010-4018-8142-240c9aaa4570",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.body.events[0].type }}",
              "rightValue": "message"
            }
          ]
        },
        "options": {}
      },
      "id": "eceada0c-99bc-4dbc-aeee-87687672b921",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        300,
        180
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Line Message API Send Message\n\n需要先取得對方的 Line UID\n這樣才能主動推播\n\n也可以是群組的 Channel ID\n計費方式會以群組的人數計算",
        "height": 340,
        "width": 720
      },
      "id": "06ba081b-d9af-47f1-9901-c18631d1601f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        420
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "3cce169d-59da-4f66-ac3e-bef5c315cd84",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        80,
        600
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6278f340-6287-4e89-b774-f6c584954d5b",
              "name": "line_uid",
              "type": "string",
              "value": "Uxxxxxxxxxxxx"
            }
          ]
        },
        "options": {}
      },
      "id": "3676c913-e28e-4dac-9901-50ea89cfae55",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        300,
        600
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.line_uid }}\",\n  \"messages\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"推播測試\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "d7d5d467-2185-4faf-a1b3-ad4baff78f17",
      "name": "Line : Push Message",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        540,
        600
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "xB2Ip7YKSIDq7BoI",
          "name": "Line n8n demo auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\nAn engineer now focus on AI and Automation\n\n### contact me with following:\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n[Website](https://www.darrelltw.com/)",
        "height": 240,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -360,
        0
      ],
      "id": "a4a723cc-3150-468b-8152-84c3bca67917",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 文字訊息 text\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"text\",\n        \"id\": \"563010307124363558\",\n        \"quoteToken\": \"$quoteToken\",\n        \"text\": \"文字訊息\"\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411597743,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 520,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "3d4dd324-9699-490c-a715-fb979f92308e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 位置訊息 location\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"location\",\n        \"id\": \"563010369904968465\",\n        \"latitude\": 25.033718,\n        \"longitude\": 121.56481,\n        \"title\": \"台北101\",\n        \"address\": \"台北市信義區信義路五段7號\"\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411635079,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 540,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        540
      ],
      "id": "e06fd4c9-fe3a-462f-99ef-8363a8435e93",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 圖片訊息 image\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"image\",\n        \"id\": \"563010383729131999\",\n        \"quoteToken\": \"${quoteToken}\",\n        \"contentProvider\": {\n          \"type\": \"line\"\n        }\n      },\n      \"webhookEventId\": \"01JWAQ8Y1Z0JVH5CCCGYX6AEEA\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411643600,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 540,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        540
      ],
      "id": "0430cf50-8196-4d2f-a928-c3d73481a6cb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 聲音訊息 audio\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"audio\",\n        \"id\": \"563010901809561755\",\n        \"duration\": 3964,\n        \"contentProvider\": {\n          \"type\": \"line\"\n        }\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748411952280,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 540,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        540
      ],
      "id": "999fc852-c607-4ce4-b67c-c209f3974449",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 貼圖訊息 sticker\n```\n{\n  \"destination\": \"${Uea2edf19952568f1b5416d038ef8f525}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"sticker\",\n        \"id\": \"563011036866413024\",\n        \"quoteToken\": \"${quoteToken}\",\n        \"stickerId\": \"721731938\",\n        \"packageId\": \"28491268\",\n        \"stickerResourceType\": \"STATIC\",\n        \"keywords\": [\n          \"what?\",\n          \"threat\",\n          \"be careful\",\n          \"really?\",\n          \"Christmas present\",\n          \"Hello\",\n          \"?\",\n          \"!?\",\n          \"guess what?\"\n        ]\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748412032685,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 520,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        0
      ],
      "id": "2ee96f30-10f3-4f27-8dfa-e3c165c8283b",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Webhook 範例: 表情接訊息 text\n```\n{\n  \"destination\": \"${destination}\",\n  \"events\": [\n    {\n      \"type\": \"message\",\n      \"message\": {\n        \"type\": \"text\",\n        \"id\": \"563011234015478237\",\n        \"quoteToken\": \"${quoteToken}\",\n        \"text\": \"(shock)(shock)(shock)\",\n        \"emojis\": [\n          {\n            \"index\": 0,\n            \"length\": 7,\n            \"productId\": \"63b695d6b9e82e73fe3baaec\",\n            \"emojiId\": \"005\"\n          },\n          {\n            \"index\": 7,\n            \"length\": 7,\n            \"productId\": \"63b695d6b9e82e73fe3baaec\",\n            \"emojiId\": \"005\"\n          },\n          {\n            \"index\": 14,\n            \"length\": 7,\n            \"productId\": \"63b695d6b9e82e73fe3baaec\",\n            \"emojiId\": \"005\"\n          }\n        ]\n      },\n      \"webhookEventId\": \"${webhookEventId}\",\n      \"deliveryContext\": {\n        \"isRedelivery\": false\n      },\n      \"timestamp\": 1748412150097,\n      \"source\": {\n        \"type\": \"user\",\n        \"userId\": \"${userId}\"\n      },\n      \"replyToken\": \"${replyToken}\",\n      \"mode\": \"active\"\n    }\n  ]\n}\n```",
        "height": 520,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ],
      "id": "f5d9b1ad-e96f-46c9-85f0-58ee6c5a10c2",
      "name": "Sticky Note8"
    }
  ],
  "connections": {
    "Webhook from Line Message": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Line : Reply with token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Line : Push Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "fddb3e91967f1012c95dd02bf5ad21f279fc44715f47a7a96a33433621caa253"
  }
}