source/tools/n8n_template/data/workflows/n8n-from-collect-email-and-send.json
{
  "name": "n8n蒐集名單-template",
  "nodes": [
    {
      "parameters": {
        "formTitle": "n8n workshop - 名單蒐集",
        "formDescription": "Hi 您好\n\n請填寫表單\n\n我們會在活動前用 Email 通知您！",
        "formFields": {
          "values": [
            {
              "fieldLabel": "email",
              "fieldType": "email",
              "placeholder": "hello@gmail.com",
              "requiredField": true
            },
            {
              "fieldLabel": "name",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "customCss": ":root {\n  --font-family: 'Open Sans', sans-serif;\n  --font-weight-normal: 400;\n  --font-weight-bold: 600;\n  --font-size-body: 12px;\n  --font-size-label: 14px;\n  --font-size-test-notice: 12px;\n  --font-size-input: 14px;\n  --font-size-header: 20px;\n  --font-size-paragraph: 14px;\n  --font-size-link: 12px;\n  --font-size-error: 12px;\n  --font-size-html-h1: 28px;\n  --font-size-html-h2: 20px;\n  --font-size-html-h3: 16px;\n  --font-size-html-h4: 14px;\n  --font-size-html-h5: 12px;\n  --font-size-html-h6: 10px;\n  --font-size-subheader: 14px;\n  \n  /* Colors：可愛薰衣草粉嫩配色 */\n  --color-background: #f8f6ff;             /* 主背景：淡薰衣草白 */\n  --color-card-bg:      #ffffff;           /* 卡片背景：純白 */\n  --color-card-border:  #e8e3ff;           /* 卡片邊框：薰衣草邊框 */\n  --color-card-shadow:  rgba(168, 156, 255, 0.15); /* 卡片陰影：薰衣草陰影 */\n  --color-test-notice-text: #6b5b95;       /* 通知文字：深薰衣草 */\n  --color-test-notice-bg:   #f3f0ff;       /* 通知背景：極淡薰衣草 */\n  --color-test-notice-border: #e0d9ff;     /* 通知邊框：淡薰衣草 */\n  --color-link:        #8b7cb6;           /* 連結：中薰衣草 */\n  --color-header:      #5a4a7a;           /* 標題文字：深薰衣草紫 */\n  --color-header-subtext: #8573a3;        /* 標題副文字：中薰衣草 */\n  --color-label:       #6b5b95;           /* 標籤文字：深薰衣草 */\n  --color-input-text:  #2d2d2d;           /* 輸入框文字：深灰 */\n  --color-input-border:#d4c9ff;           /* 輸入框邊框：淡薰衣草 */\n  --color-focus-border:#a89cff;           /* 聚焦邊框：亮薰衣草 */\n  --color-submit-btn-bg: #9b8bde;         /* 送出按鈕背景：溫柔薰衣草 */\n  --color-submit-btn-text: #ffffff;       /* 送出按鈕文字：白色 */\n  --color-clear-button-bg: #c5b8f0;       /* 清除按鈕背景：淡薰衣草 */\n  --color-error:       #e67e80;           /* 錯誤文字：溫柔珊瑚粉 */\n  --color-required:    #e67e80;           /* 必填星號：溫柔珊瑚粉 */\n  --color-html-text:   #4a4a4a;           /* 內文文字：溫和深灰 */\n  --color-html-link:   #8b7cb6;           /* 內文連結：薰衣草紫 */\n  \n  /* Border Radii */\n  --border-radius-card:     12px;          /* 更圓潤的卡片 */\n  --border-radius-input:    8px;           /* 更圓潤的輸入框 */\n  --border-radius-clear-btn:50%;\n  --card-border-radius:     12px;\n  \n  /* Spacing */\n  --padding-container-top:      24px;\n  --padding-card:               24px;\n  --padding-test-notice-vertical:   12px;\n  --padding-test-notice-horizontal: 24px;\n  --margin-bottom-card:         16px;\n  --padding-form-input:         12px;\n  --card-padding:               24px;\n  --card-margin-bottom:         16px;\n  \n  /* Dimensions */\n  --container-width:  448px;\n  --submit-btn-height:48px;\n  --checkbox-size:    18px;\n  \n  /* Others */\n  --box-shadow-card:    0px 6px 20px 0px var(--color-card-shadow); /* 更柔和的陰影 */\n  --opacity-placeholder: 0.7;\n}\n\n/* 針對 placeholder 的對比度設定 */\ninput::placeholder,\ntextarea::placeholder {\n  color: rgba(45, 45, 45, var(--opacity-placeholder));\n}\n\n/* 可選：為按鈕添加 hover 效果 */\nbutton:hover {\n  filter: brightness(1.05);\n  transition: filter 0.2s ease;\n}\n\n/* 可選：為卡片添加微妙的漸變背景 */\n.card {\n  background: linear-gradient(135deg, #ffffff 0%, #fefcff 100%);\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -688,
        -96
      ],
      "id": "9c086686-1b8e-4033-921b-67f525b9672d",
      "name": "On form submission",
      "webhookId": "fcc11856-6678-4cef-bc85-1ffe4f01352f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41407972-e68e-402f-ae67-b573ff490266",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "3be5cdf7-09d9-4a5c-aee5-f727b5bdb1a5",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "e6f2d294-d2d8-46c2-8b1e-e0442ef28df7",
              "name": "fill_datetime",
              "value": "={{ $json.submittedAt }}",
              "type": "string"
            },
            {
              "id": "8a935a66-ed22-4508-9310-703fba5983fc",
              "name": "campaign",
              "value": "workshop-20250824",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        -96
      ],
      "id": "5369da24-7fc7-407a-a9b6-4748012b751a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ",
          "mode": "list",
          "cachedResultName": "n8n蒐集名單-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fill_datetime",
              "displayName": "fill_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "campaign",
              "displayName": "campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "send",
              "displayName": "send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -272,
        -96
      ],
      "id": "9445b3be-e186-4268-bf8d-3f658ae713bc",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "atsKA0m2aQXeL6i6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\n### contact me with following:\n[Website](https://www.darrelltw.com/)\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n![](https://pub-c093258f61a1463ea03e1a40c141968a.r2.dev/darrell-icon-128.svg)",
        "height": 340,
        "width": 296,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        -192
      ],
      "id": "1c848853-0b91-4b78-a276-ceeb7223960d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 名單蒐集",
        "height": 272,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        -192
      ],
      "id": "8dc4663a-dd59-45b3-8cce-7f87532f8e2a",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        224
      ],
      "id": "d4c70424-ea85-46b7-8d58-6b5fde7d7571",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "n8n 消息",
        "emailType": "text",
        "message": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        160,
        224
      ],
      "id": "4b1ccbc2-6856-4d8a-842f-f08338ad9be0",
      "name": "Send a message",
      "webhookId": "e52a2ecc-5154-4330-a6c9-f6ba51064644",
      "credentials": {
        "gmailOAuth2": {
          "id": "34rX9kxKlJadOY6u",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ",
          "mode": "list",
          "cachedResultName": "n8n蒐集名單-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -464,
        224
      ],
      "id": "1c46c61e-b128-457c-98c6-7907101213d4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "atsKA0m2aQXeL6i6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ",
          "mode": "list",
          "cachedResultName": "n8n蒐集名單-Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3KU1YZaH1zT_LcL5PsHd4rb18J4LA_LqM8fteM6oqw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "send": "true",
            "email": "={{ $('Edit Fields - email').item.json.email }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fill_datetime",
              "displayName": "fill_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "campaign",
              "displayName": "campaign",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "send",
              "displayName": "send",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        368,
        224
      ],
      "id": "7b9e6c71-a98f-4bc3-8d77-72cef4b32edf",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "atsKA0m2aQXeL6i6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "95bb98ca-453d-42b0-bedf-dd11af143719",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        224
      ],
      "id": "235f3dc2-01d1-4684-b327-ae54980901b3",
      "name": "Edit Fields - email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "864909be-5408-419c-a2f0-af83ef190b71",
              "leftValue": "={{ $json.send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -256,
        224
      ],
      "id": "66c7bfd9-35af-4591-aefa-443bad82b148",
      "name": "Filter"
    },
    {
      "parameters": {
        "content": "## 寄送名單，並更新名單狀態",
        "height": 240,
        "width": 1456,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        144
      ],
      "id": "032f8f7c-ae9c-4ae9-ab38-c7b37c05f1b1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Attachment(附件)\n\n### Google Sheet Template(模板)\n\nhttps://docs.google.com/spreadsheets/d/15S7Km2HvAD53xseBZ2yXz-cPflUHTiOfcdLoEcWBPiQ/copy",
        "height": 220,
        "width": 300,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        160
      ],
      "id": "e74b3976-bee5-4740-8898-789197e1c0c6",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields - email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6b87652-8bd4-4178-8805-53f53e3b3366",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fddb3e91967f1012c95dd02bf5ad21f279fc44715f47a7a96a33433621caa253"
  },
  "id": "b5VBHjdrs7wkSCY5",
  "tags": [
    {
      "createdAt": "2025-04-25T14:04:49.168Z",
      "updatedAt": "2025-04-25T14:04:49.168Z",
      "id": "5XRIpCCc7ekBy9Ka",
      "name": "Darrell-template"
    }
  ]
}