source/tools/n8n_template/data/workflows/n8n-Apify-demo.json
{
  "name": "n8n-Darrell-Apify-demo",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -144,
        16
      ],
      "id": "dcc6c75c-8c03-433e-b47f-5e8816632089",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "Run actor",
        "actorId": {
          "__rl": true,
          "value": "h7sDV53CddomktSi5",
          "mode": "id"
        },
        "customBody": "{\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": 25,\n    \"maxResultsShorts\": 0,\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"https://www.youtube.com/results?search_query=AI&sp=EgQIAxAB\",\n            \"method\": \"GET\"\n        }\n    ]\n}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        64,
        16
      ],
      "id": "b3dc89e6-9458-444b-a8fa-207f30ee8465",
      "name": "Run an Actor",
      "credentials": {
        "apifyApi": {
          "id": "p5b9jW2xkCNp0EYe",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d441ddf3-17de-43dd-a09f-774ffebe04e4",
              "leftValue": "={{ $json.status }}",
              "rightValue": "=SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        16
      ],
      "id": "b46ecd7b-745a-4755-adc3-d03977fe85f6",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        752,
        0
      ],
      "id": "261963ab-761d-4e15-b242-49a4911db221",
      "name": "Wait",
      "webhookId": "7616624a-6d47-4414-81de-88bf6b66b3d2"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "operation": "Get items",
        "datasetId": "={{ $json.defaultDatasetId }}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        752,
        208
      ],
      "id": "78a548e4-ff90-422c-aca7-bfaca1ad5e8f",
      "name": "Get dataset items",
      "credentials": {
        "apifyApi": {
          "id": "p5b9jW2xkCNp0EYe",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Actor runs",
        "operation": "Get run",
        "runId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        288,
        16
      ],
      "id": "3224625b-37b0-4b2b-b4c0-074c5307bc6e",
      "name": "Get run",
      "credentials": {
        "apifyApi": {
          "id": "p5b9jW2xkCNp0EYe",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\n### contact me with following:\n[Website](https://www.darrelltw.com/)\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n![](https://pub-c093258f61a1463ea03e1a40c141968a.r2.dev/darrell-icon-128.svg)\n\n\n## Apify Specialist - IronV\n\n### contact me with following:\n[Threads](https://www.threads.com/@ironv.careerlife)\n[Instagram](https://www.instagram.com/ironv.careerlife/)\n![](https://st.darrelltw.com/ironv_icon.jpg)",
        "height": 788,
        "width": 312,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1392,
        -304
      ],
      "id": "199e26df-4bf7-4bba-b9d7-d61e03fcd4bd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Step1 取得 Actor ID\n例如 `https://console.apify.com/actors/h7sDV53CddomktSi5/input`\n/actor 後面那段亂數就是 id\n`h7sDV53CddomktSi5`\n\n## Step2 在 Apify 輸入想要爬取的資訊\n![](https://st.darrelltw.com/Screenshot_20250805_103257_0bOK6w22%402x.webp)\n\n## Step3 取得 JSON 並貼到 Run Actor\n![](https://st.darrelltw.com/Screenshot_20250805_103300_gj3UX5jI%402x.webp)\n",
        "height": 1760,
        "width": 752,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        -304
      ],
      "id": "59f89f6f-d8ab-42a0-86f1-961ce05ef68c",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get run": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5934b57d-5281-4d4f-810f-95d9eae70c81",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fddb3e91967f1012c95dd02bf5ad21f279fc44715f47a7a96a33433621caa253"
  },
  "id": "RDVKIKDA2FOCkncE",
  "tags": []
}