source/tools/n8n_template/data/workflows/n8n_gpt_image_1_with_drive_and_sheet.json
{
  "name": "template-demo-chatgpt-image-1-with-drive-and-sheet copy",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -245
      ],
      "id": "7d78d4e3-cbb3-4f32-82d9-73c9d7f6c892",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "output_format",
              "value": "jpeg"
            },
            {
              "name": "quality",
              "value": "low"
            },
            {
              "name": "output_compression",
              "value": "={{parseInt('80')}}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            },
            {
              "name": "n",
              "value": "={{parseInt('1')}}"
            },
            {
              "name": "moderation",
              "value": "low"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        -120
      ],
      "id": "b32b61bb-c837-4697-9742-a1bb2854b628",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "GgwYNKMKKqKJICYO",
          "name": "OpenAi account - Image"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=chatgpt_created_by_n8n_{{ $('HTTP Request').item.json.created }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1sIbMHDtcOafBVdCq0gTEuGvnT63s8Fdy",
          "mode": "list",
          "cachedResultName": "n8n-demo-gpt_image_1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1sIbMHDtcOafBVdCq0gTEuGvnT63s8Fdy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        860,
        -20
      ],
      "id": "0ead70d0-9e3b-4f19-afee-b5d4a7b532e9",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "iQdqjdvLVh5ldUIq",
          "name": "Personal-Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {
          "includeBinary": true
        }
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -40,
        -120
      ],
      "id": "a76c4340-9f34-49d1-a831-1ba4515933ee",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "b64_json",
        "options": {
          "fileName": "={{ $now.format(\"yyyyMMddHHmmSSS\") }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        640,
        -20
      ],
      "id": "c8090e15-b9b9-4999-89f0-97d45e6176d6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        200,
        -20
      ],
      "id": "692a71fb-6fe3-4728-a588-f9283f5ab968",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10e6d39e-c44c-4db4-bf88-806b2f36c09f",
              "name": "file_name",
              "value": "={{ $now.format(\"yyyyMMddHHmmSSS\") }}",
              "type": "string"
            },
            {
              "id": "c2610584-aafa-4d90-8977-399e49015c32",
              "name": "b64_json",
              "value": "={{ $json.b64_json }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        -20
      ],
      "id": "dfa88c15-4d38-4670-9c5a-4e52a9ce9d33",
      "name": "Edit Fields-file_name"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcfa49d6-a8ed-43a2-9aaa-86751f34e61d",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "d2f7f22d-9453-4b61-bd46-fb3e8d5ad4d8",
              "name": "webViewLink",
              "value": "={{ $json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "b8cf5a41-e354-416e-b548-8d1a274873e0",
              "name": "thumbnailLink",
              "value": "={{ $json.thumbnailLink }}",
              "type": "string"
            },
            {
              "id": "76c11a24-087c-4a6c-a5b4-8901e9436786",
              "name": "file_name",
              "value": "={{ $('Edit Fields-file_name').item.json.file_name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1080,
        -20
      ],
      "id": "c34c1a91-2601-4750-8134-d31cf377c349",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11K1tui8itMzcSZqHOmzvFnM0G-ihn1uiLUZ_o478j88",
          "mode": "list",
          "cachedResultName": "n8n-chatgpt-image-1-model",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11K1tui8itMzcSZqHOmzvFnM0G-ihn1uiLUZ_o478j88/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11K1tui8itMzcSZqHOmzvFnM0G-ihn1uiLUZ_o478j88/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('When chat message received').item.json.chatInput }}",
            "image": "={{ $json.webViewLink }}",
            "image_thumb": "==IMAGE(\"{{ $('Edit Fields1').item.json.thumbnailLink }}\")"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "image_thumb",
              "displayName": "image_thumb",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1300,
        -20
      ],
      "id": "6bd8f7dc-1006-4d7f-b3eb-0a3aaa1b9a84",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tufEzuSTEveV3tuA",
          "name": "(Personal)Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        -45
      ],
      "id": "8ee28143-d9e7-4d14-929f-c9b6592c366e",
      "name": "When chat message received",
      "webhookId": "f64b2006-672a-4ad6-8c30-428b76f5a332"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11K1tui8itMzcSZqHOmzvFnM0G-ihn1uiLUZ_o478j88",
          "mode": "list",
          "cachedResultName": "n8n-chatgpt-image-1-model",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11K1tui8itMzcSZqHOmzvFnM0G-ihn1uiLUZ_o478j88/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 929800828,
          "mode": "list",
          "cachedResultName": "usage",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11K1tui8itMzcSZqHOmzvFnM0G-ihn1uiLUZ_o478j88/edit#gid=929800828"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $('When chat message received').item.json.chatInput }}",
            "datetime": "={{ $('HTTP Request').item.json.created.toDateTime('s').format('yyyy-MM-dd HH:mm:ss') }}",
            "input token": "={{ $('HTTP Request').item.json.usage.input_tokens }}",
            "output token": "={{ $('HTTP Request').item.json.usage.output_tokens }}",
            "input estimated price": "={{    (     ($('HTTP Request').item.json.usage.input_tokens || 0) * 10 / 1000000   ).toFixed(6)  }}",
            "output estimated price": "={{    (     ($('HTTP Request').item.json.usage.output_tokens || 0) * 40 / 1000000   ).toFixed(6)  }}",
            "total estimated price": "={{ \n  (\n    (($('HTTP Request').item.json.usage.input_tokens || 0) * 10 / 1000000) +\n    (($('HTTP Request').item.json.usage.output_tokens || 0) * 40 / 1000000)\n  ).toFixed(6)\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "datetime",
              "displayName": "datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "input token",
              "displayName": "input token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "input estimated price",
              "displayName": "input estimated price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output token",
              "displayName": "output token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "output estimated price",
              "displayName": "output estimated price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total estimated price",
              "displayName": "total estimated price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        700,
        -400
      ],
      "id": "1e687fde-8465-4490-8738-c9832904f2b5",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tufEzuSTEveV3tuA",
          "name": "(Personal)Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        480,
        -400
      ],
      "id": "5e1f6dd3-6c1a-4838-86c7-2a3c0cf05c3d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "## Created by darrell_tw_ \n\nAn engineer now focus on AI and Automation\n\n### contact me with following:\n[X](https://x.com/darrell_tw_)\n[Threads](https://www.threads.net/@darrell_tw_)\n[Instagram](https://www.instagram.com/darrell_tw_/)\n[Website](https://www.darrelltw.com/)",
        "height": 240,
        "width": 340,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        -600
      ],
      "id": "f14edb71-0778-40dc-9f2d-4cfc72b8a351",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 可以利用 Chat 來輸入產圖的 Prompt",
        "height": 480,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -540,
        -340
      ],
      "id": "6bbe2346-287b-491d-bf20-a76d39a6e297",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 用 Loop 處理 Data 中的陣列圖片\n因為不管單張或是多張\n都會在 data[] 中\n直接用 Loop 去處理即可\n\n中間會把圖片上傳到 Drive 中，並且儲存一列到 Sheet 裡面呈現連結跟縮圖",
        "height": 420,
        "width": 1260,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -200
      ],
      "id": "8dd6607a-16cf-424d-902a-04c43e68f424",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 全部處理完後，儲存 Cost 到 Sheet ",
        "height": 260,
        "width": 480,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        -480
      ],
      "id": "f8d0819a-e38a-4f7a-aa79-594ebca465a0",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields-file_name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields-file_name": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf533114-4aa9-4b06-8247-3c06f9dcbc79",
  "meta": {
    "instanceId": "fddb3e91967f1012c95dd02bf5ad21f279fc44715f47a7a96a33433621caa253"
  },
  "id": "0GCQ1fO3d5MBdKmi",
  "tags": []
}